---
import Wrapper from "../../Wrapper.astro"
import Brand from '../../shared/brand/index.astro';
import { type LinkProps, type ButtonProps, cn } from "@nextui-org/react";
import {Link} from "@nextui-org/link";
import type { ImageMetadata } from 'astro';

interface Props {
    logo?: ImageMetadata;
    brandName?: string;
    links?: LinkProps[];
	buttons?: ButtonProps[];
    className?: string;
}

const {
    links,
    buttons,
    ...props
} = Astro.props;

const brandTitle = props.brandName || "Elijsha UI";
---

<footer class="relative bg-[#202430] pt-8 text-[#d6ddeb]">
    <Wrapper>
        <div class="flex flex-col lg:flex-row items-start gap-4">
            <div class="flex-1">
                <div class="brand">
                    <Fragment slot="brand">
                        <Link href={"/"} className="text-[#d6ddeb]">
                            <Brand title={brandTitle}>
                                {props.logo && <slot name="logo">{props.logo}</slot>}
                            </Brand>
                        </Link>
                    </Fragment>
                </div>
            </div>
            <div class="flex-1">center</div>
            <div class="flex-1">right</div>
        </div>
        <slot name="credits">
            <div class="py-4 mt-4 border-t-2 border-white/10">
                <div class="flex items-center justify-between text-sm text-gray-400">
                    <div>{`© ${new Date().getFullYear()} Trabaho.io. All rights reserved.`}</div>
                    <div>social buttons</div>
                </div>
            </div>
        </slot>
    </Wrapper>
</footer>