---
import Logo from "../logo/index.astro";
import { cn } from "@nextui-org/react";

const { title, logo, ...props } = Astro.props;
---

<div 
    class={cn("flex gap-2 items-center font-heading text-lg", props.className)} 
    {...props}
>
    <slot name="logo">
        <Logo className="w-8 h-8" />
    </slot>
    <slot name="brandName">
        <p class="font-black font-body text-xl">{title}</p>
    </slot>
</div>